{% extends 'layoutFrontOffice.html.twig' %}

{% block title %} Liste des Evenments{% endblock %}


{% block body %}
   <div class="container-fluid">

             <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />
  
                
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                         <h3>Liste des evénements</h3>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                               <thead>
            
                <th>Type</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>Lieu</th>
        
            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
              
                <td>{{ evenement.type }}</td>
                <td>{{ evenement.dateDebut ? evenement.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ evenement.DateFin ? evenement.DateFin|date('Y-m-d') : '' }}</td>
                <td>{{ evenement.lieu }}</td>
            
                <td>
                  <a  href="{{ path('ticket_new', {'id_evenement': evenement.id}) }}" class="filled-button">Acheter ticket</a>
                  
                </td>
                 
             <td>
        <p>
    My rating:
    <input type="number" name="inputName" id="rating1" class="rating text-warning" data-clearable="remove"/>

</p>
        </td>
              
              
             
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
         
        </tbody>
    </table>
      </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->
 <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            $('input').on('change', function () {
                alert("Changed: " + $(this).val())
            });
        });
    </script>
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script>
try {
  fetch(new Request("https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js", { method: 'HEAD', mode: 'no-cors' })).then(function(response) {
    return true;
  }).catch(function(e) {
    var carbonScript = document.createElement("script");
    carbonScript.src = "//cdn.carbonads.com/carbon.js?serve=CK7DKKQU&placement=wwwjqueryscriptnet";
    carbonScript.id = "_carbonads_js";
    document.getElementById("carbon-block").appendChild(carbonScript);
  });
} catch (error) {
  console.log(error);
}
</script>

{% endblock %}
