{% extends 'layoutBackOffice.html.twig' %}
{% block title %} Show des tickets{% endblock %}

{% block body %}
    <h1>Ticket</h1>
    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
                        </div>
                        <div class="card-body">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ticket.id }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ ticket.numero }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ ticket.nombre }}</td>
            </tr>
            <tr>
                <th>Destination</th>
                <td>{{ ticket.destination }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ ticket.Date ? ticket.Date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Heure</th>
                <td>{{ ticket.Heure ? ticket.Heure|date('Y-m-d') : '' }}</td>
            </tr>
             <tr>
                <th>Id_ticket</th>
                <td>{{ ticket.idEvenement }}</td>
            </tr>
        </tbody>
    </table>
      <a href="{{ path('ticket_index') }}" class="btn btn-secondary btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-arrow-right"></i>
                                        </span>
                                        <span class="text">Back To list</span>
                                    </a>
  &nbsp; 
<a href="{{ path('ticket_edit', {'id': ticket.id}) }}" class="btn btn-warning btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-exclamation-triangle"></i>
                                        </span>
                                        <span class="text">Modifier</span>
                                    </a>
                           
 </div>
                    </div>

                </div>
  
{% endblock %}
